:root{
    --primary-color: #333;
    --secondary-color: #f5f5f5;
    --tertiary-color: #f00;
    --quaternary-color: #0f0;
    --quinary-color: #00f;
    --senary-color: #ff0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px; /*1 rem = 10px a partir de ahora*/
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    text-align: center;
}

.test1{
    font-size: 1.6rem;
    width: 60rem;
    margin: 0 auto;
}

.test1-1 p{
    font-size: 1.5rem;
    color: var(--tertiary-color);
}

.test1-1 span{
    font-size: 1.4rem;
    color: rebeccapurple;
    margin-left: 0.5rem;
}

.Separador{
    padding: 0.3rem 20rem;
    background-color: #333;
    border: 1px solid rgb(110, 110, 143);
}

.test2{
    font-size: 1.8rem;
    width: 100rem;
    color: #333233;
    margin: 0 auto;
}