@use 'base/mixins' as m;
@use 'base/variables' as var;

.section2{
    background: rgb(45, 207, 129);
    background: radial-gradient(circle, rgba(45, 207, 129, 1) 0%, rgba(14, 143, 78, 1) 100%);
}

.catalogo{
    padding: 5rem 0;
    text-align: center;
}