@use "base/variables" as var;

@mixin heading ($color){
    font-size: 2rem;
    font-weight: bold;
    color: $color;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

@mixin phone{
    @media (min-width: var.$phone){
        @content;
    }
}

@mixin tablet{
    @media (min-width: var.$tablet){
        @content;
    }
}

@mixin desktop{
    @media (min-width: var.$desktop){
        @content;
    }
}

@mixin desktopXL{
    @media (min-width: var.$large-desktop) {
        @content;
    }
}